{% extends 'admin/change_list.html' %} {% block object-tools %}
<div>
  <form
    action="run-parser/"
    method="POST"
    style="float: right; margin-bottom: 10px"
  >
    {% csrf_token %}
    <button
      type="submit"
      style="
        background: #2563eb;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      "
    >
      🚀 ЗАПУСТИТЬ ПАРСЕР
    </button>
  </form>
</div>
{{ block.super }} {% endblock %}
